.header{
    position: relative;
    z-index: 5;
    &::after{
        content:"";
        position: absolute;
        z-index: 5;
        top:51px;
        height: 84px;
        width: 100%;
        background-color: #000000;
        opacity: 0.6;
        @media (max-width: $md2+px){
            top:0px;
        }
    }
    .header__content{
        display: flex;
        align-items: center;
        min-height: 51px;
        background-color: #212121;
        .header__menu{
            display: flex;
            flex:1 1 auto;
            max-width: 999px;
            justify-content: space-between;
            align-items: center;
            @media (max-width: $md1+px){
                max-width: 970px;
            }
            
            li{
                .header__link{
                    color: #ffffff;
                    font-family: 'Roboto-Light';
                    font-size: 15px;
                    
                }
            }
           
        }
        @media (max-width: $md2+px){
            min-height: 0px;
            display: none;
        }
    }
    .subheader{
       position: relative;
       height: 84px;
       z-index: 8;
        .subheader__content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 76px 17px;
            @media (max-width: $md1+px){
                padding: 16px 0 17px;
            }
            .logo__body{
                display: flex;
                flex-direction:column;
                .logo{
                    display: flex;
                    align-items: center;
                    span{
                        color: #ffffff;
                        font-family: "NokiaSansS60";
                        font-size: 26px;
                        text-transform: uppercase;  
                    }
                    img{
                        margin-right:9px;
                    }
                }
                .logo__text{
                    display: flex;
                    margin-top: 11px;
                    span{
                        color: #ffffff;
                        font-family: "Roboto-Thin";
                        font-size: 13px;
                    }
                    
                }
               
            }
            .callback{
                display: flex;
                .callback__tel{
                    display: flex;
                    flex-direction:column;
                    align-items: flex-end;
                    span{
                        color: #ffffff;
                        font-family: 'Roboto-Light';
                        font-size: 12px;
                        font-weight: 300;
                        margin-bottom: 8px;
                    }
                    a{
                        color: #ffffff;
                        font-family: 'Roboto-Regular';
                        font-size: 22px;
                    }
                }
                .btn{
                    min-width: 172px;
                    min-height: 46px;
                    margin-left: 33px;
                    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
                    border-radius: 5px;
                    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
                    span{
                        color: #ffffff;
                        font-family: 'Roboto-Regular';
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}